
<ul>
    <li><%= link_to "Below are all the links to Law Project", scraper_bills_path, method: "POST" %></li>
  <% @bills[0..100].each do |bill| %>
    <p> <%= link_to bill_path(bill) do %>
     <% bill.description %>
    <%end %>
  <%end %>
  <%= will_paginate(@bill) %>
</p>
</ul>
